Library/ 
Library/ 
Logs/ 
Temp/ 
UserSettings/ 
Packages/ 
ProjectSettings/ 

# Visual Studio / IDE
.vs/
*.csproj
*.sln
obj/


Build/
Builds/

"Assets/LeartesStudios/CoffeeShopInterior/Built-In/CoffeeShopBuiltIn.unitypackage" 
"Assets/LeartesStudios/CoffeeShopInterior/URP/CoffeeShopURP.unitypackage" 
